<div class="container-fluid" style="padding:50px;">
  <h1 style="margin-top: 0px;">Utgifter</h1>
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <div style="display: flex; flex-direction: row; align-items: center; font-size: 1.2rem; gap: 20px;">
      <div><i style="margin-right: 6px;" class="fa-solid fa-piggy-bank"></i><span>Budsjett: 220,000</span></div>
    </div>
    <button mat-raised-button (click)="openDialog()" matTooltip="Legg til">Legg til utgift</button>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Beskrivelse</th>
          <th>Estimert</th>
          <th>Faktisk</th>
          <th>Betalt</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of budget">
          <td>{{ item.description }}</td>
          <td style="text-align: right;">{{ item.estimated_cost | number }}</td>
          <td style="text-align: right;">{{ item.actual_cost | number }}</td>
          <td style="text-align: right;">{{ item.has_been_paid | number }}</td>
          <td style="width: 6rem !important;">
            <button mat-icon-button (click)="editCost(item)" matTooltip="Rediger"><i class="fa-solid fa-pen-to-square"></i></button>
            <button mat-icon-button (click)="deleteCost(item)" matTooltip="Slett"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td><strong>Sum</strong></td>
          <td style="text-align: right;"><strong>{{ estimatedCost | number }}</strong></td>
          <td style="text-align: right;"><strong>{{ actualCost | number }}</strong></td>
          <td style="text-align: right;"><strong>{{ totalHasBeenPaid | number }}</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>