<!-- <div class="container" style="padding: 50px 0 100px 0">
  <ng-container *ngIf="session; else auth">
    <app-account [session]="session"></app-account>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #auth>
    <app-auth></app-auth>
  </ng-template>
</div> -->

<div style="display: flex; flex-direction: row; height: 100vh; width: 100vw; overflow: hidden;">
  <app-sidebar></app-sidebar>

  <!-- wrapper around router-outlet -->
  <div style="flex: 1; overflow: auto;">
    <router-outlet></router-outlet>
  </div>
</div>