<div style="padding: 50px;">
  <div class="dialog-header">
      <h2 style="margin-top: 0px;">Rediger utgifts post</h2>
      <p>Endre utgift informasjonen for <strong>{{ description }}</strong>.</p>
    </div>
    <form [formGroup]="editCostForm" (ngSubmit)="editCost()">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Beskrivelse</mat-label>
        <input matInput placeholder="Beskrivelse.." formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Estimat</mat-label>
        <input type="number" matInput placeholder="Estimat.." formControlName="estimated_cost">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Faktisk</mat-label>
        <input type="number" matInput placeholder="Faktisk.." formControlName="actual_cost">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Betalt</mat-label>
        <input type="number" matInput placeholder="Betalt.." formControlName="has_been_paid">
      </mat-form-field>
      <div style="display: flex; flex-direction: row; gap: 1rem;">
        <button type="button" mat-raised-button (click)="closeDialog(false)">Avbryt</button>
        <button type="submit" mat-raised-button>Lagre</button>
      </div>
  </form>
</div>
