<div style="padding: 50px;">
    <div class="dialog-header">
        <h2 style="margin-top: 0px;">Rediger gjest</h2>
        <p>Endre navn eller kategori for <strong>{{ name }}</strong>.</p>
      </div>
      <form [formGroup]="editGuestForm" (ngSubmit)="editGuest()">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Navn</mat-label>
          <input matInput placeholder="Navn.." formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kategori</mat-label>
          <mat-select formControlName="category">
            <mat-option value="0">Ingen kategori</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
          <button type="button" mat-raised-button (click)="closeDialog(false)">Avbryt</button>
          <button type="submit" mat-raised-button>Legg til</button>
        </div>
    </form>
</div>